#==== Vonage API ====

API_KEY=xx
API_SECRET=xx
APP_ID=xx

#-- A Vonage API number linked to the application above (from dashboard.nexmo.com) --
#-- Must be in E.164 format without leading '+' sign --
SERVICE_PHONE_NUMBER=12095550101

#==== Other parameters ====

#-- For tests - Phone number of first and second PSTN parties --
#-- Second PSTN party is called with AMD turned on --
#-- Must be in E.164 format without leading '+' sign --
PSTN_CALLEE_NUMBER_1=12995551111
PSTN_CALLEE_NUMBER_1=12995551212
